
.employee-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 30px;
  margin-top: 15px;
}

@media (max-width: 1024px) {
  .employee-grid {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 600px) {
  .employee-grid {
    grid-template-columns: repeat(1, 1fr); 
  }
}

.employee-card h3 {
  margin-top: 0;
}
